@import 'styles.scss';

.cb-sys-info-dashboard-widget {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  .cb-sys-info-dashboard-widget-cell {
    margin-bottom: 8px;
  }
}
.cb-sys-info-dashboard-widget.error {
  @extend .cb-color-theme-error;
  padding: unset;
  height: 50px;
}
