@import 'styles.scss';

.cb-top-bar {
  background-color: $cb-color-site-header-background;
  height: $cb-site-header-height;

  ::ng-deep .btn {
    color: $cb-color-submenu-item-text;
  }

  .vr {
    align-self: center;
    background-color: $cb-color-site-header-text;
    height: 50%;
  }
}
