<div class="cb-dashboard-page">
  <div class="row">
    <cb-health-dashboard-widget class="widget col-12"></cb-health-dashboard-widget>
    <cb-performance-bytes-dashboard-widget class="widget col-12 col-md-4"></cb-performance-bytes-dashboard-widget>
    <cb-performance-operations-dashboard-widget class="widget col-12 col-md-4"></cb-performance-operations-dashboard-widget>
    <cb-storage-utilization-dashboard-widget class="widget col-12 col-md-4"></cb-storage-utilization-dashboard-widget>
    <cb-services-utilizatio-dashboard-widget class="widget col-12 col-md-6"></cb-services-utilizatio-dashboard-widget>
    <cb-events-dashboard-widget class="widget col-12 col-xxl-6"></cb-events-dashboard-widget>
  </div>
</div>
