<div class="cb-dashboard-page">
  <section>
    <div class="title"
         translate>
      Status
    </div>
    <div class="row">
      <cb-health-dashboard-widget class="widget status"></cb-health-dashboard-widget>
      <cb-events-dashboard-widget class="widget col-auto"></cb-events-dashboard-widget>
    </div>
  </section>
  <section>
    <div class="title"
         translate>
      Capacity
    </div>
    <div class="row">
      <cb-services-dashboard-widget class="widget capacity"></cb-services-dashboard-widget>
    </div>
  </section>
  <section>
    <div class="title"
         translate>
      Performance
    </div>
    <div class="row">
      <cb-performance-bytes-dashboard-widget class="widget performance"></cb-performance-bytes-dashboard-widget>
      <cb-performance-operations-dashboard-widget class="widget performance"></cb-performance-operations-dashboard-widget>
    </div>
  </section>
</div>
