<cb-widget [loadData]="loadData.bind(this)"
           widgetTitle="{{ 'Services Utilization' | translate }}"
           (loadDataEvent)="updateData($event)">
  <div class="cb-services-dashboard-widget">
    <div *ngIf="hasData"
         class="graph m-2"
         echarts
         [initOpts]="initOpts"
         [options]="options">
    </div>
    <div *ngIf="!hasData"
         class="d-flex align-items-center justify-content-center text-muted p-2">
      <span translate>No data available</span>
    </div>
  </div>
</cb-widget>
