<cb-widget [loadData]="loadData.bind(this)"
           widgetTitle="{{ 'Services Utilization' | translate }}"
           (loadDataEvent)="updateData($event)">
  <div class="cb-services-utilization-dashboard-widget">
    <div *ngIf="hasServices"
         class="graph m-2"
         echarts
         [initOpts]="initOpts"
         [options]="options">
    </div>
    <div *ngIf="!hasServices"
         class="d-flex align-items-center justify-content-center text-muted m-2">
      <span translate>No services available</span>
    </div>
  </div>
</cb-widget>
