<div class="cb-users-page"
     fxLayout="column">
  <div class="page-actions"
       fxLayout="row"
       fxLayoutAlign="start center">
    <button type="button"
            class="btn"
            (click)="onAdd()">
      <span translate>Add</span>
    </button>
  </div>
  <div class="cb-users-page-content">
    <div *ngIf="!firstLoadComplete && loading"
         class="progress">
      <div class="progress-bar indeterminate"></div>
    </div>
    <cb-datatable [data]="data"
                  [columns]="columns"
                  [autoReload]="15000"
                  (loadData)="loadData()">
    </cb-datatable>
  </div>
</div>
