@import 'styles.scss';

.cb-main-layout {
  height: 100%;

  .navigation {
    background-color: $cb-color-menu-background;
    margin-left: -15rem;
    max-width: 15rem;
    min-width: 15rem;
    transition: all 0.3s;

    &.visible {
      margin-left: 0;
    }

    header {
      color: $cb-color-site-header-text;
      background-color: $cb-color-site-header-background;
      border-bottom: 1px solid $cb-color-gray-500;
      box-shadow: 0 0.0625rem 0.125rem $cb-color-transparent-black,
        0 0.125rem 0.25rem $cb-color-transparent-black, 0 0.25rem 0.5rem $cb-color-transparent-black,
        0 0.5rem 1rem $cb-color-transparent-black;
      height: $cb-site-header-height;
      padding-left: 1.5rem;

      .logo {
        background-image: url('/assets/images/ceph-logo-gray.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 5rem;
      }

      .title {
        font-family: $cb-font-family-headings;
        font-size: 1.5rem;
        font-weight: lighter;
        padding-left: $cb-padding;

        &:after {
          content: 'Bubbles';
        }
      }
    }
  }

  .main {
    header {
      overflow-x: clip;

      ::ng-deep .cb-top-bar {
        border-bottom: 1px solid $cb-color-gray-500;
        box-shadow: 0 0.0625rem 0.125rem $cb-color-transparent-black,
          0 0.125rem 0.25rem $cb-color-transparent-black,
          0 0.25rem 0.5rem $cb-color-transparent-black, 0 0.5rem 1rem $cb-color-transparent-black;
      }
    }

    .content {
      overflow: scroll;
    }
  }
}
