@import 'styles.scss';

$card-title-height: 40px;

div.cb-dashboard-widget {
  .card-body {
    padding: 0;
    background-color: $cb-color-theme-primary-complementary;

    .card-title {
      cursor: pointer;
      height: $card-title-height;
      padding: $cb-padding;

      .btn {
        color: $cb-color-black;
      }

      .dropdown-toggle::after {
        display: none;
      }

      i:before {
        vertical-align: middle;
      }
    }
  }

  &.info {
    box-shadow: 0 0 1px 1px $cb-color-info !important;
  }

  &.success {
    box-shadow: 0 0 1px 1px $cb-color-success !important;
  }

  &.warning {
    box-shadow: 0 0 1px 1px $cb-color-warning !important;
  }

  &.error {
    @extend .cb-color-theme-error;

    box-shadow: 0 0 1px 1px $cb-color-danger !important;

    .card-body {
      background-color: transparent;
    }
  }
}
