<cb-widget [loadData]="loadData.bind(this)"
           widgetTitle="{{ 'Performance' | translate }}"
           (loadDataEvent)="updateData($event)"
           [reloadTime]="0">
  <div class="cb-performance-dashboard-widget"
       fxLayout="row">
    <div fxLayout="column"
         fxFlex="50">
      <span class="cb-text-center"
            translate>
        Client Read/Write
      </span>
      <div echarts
           [initOpts]="pieChartInitOpts"
           [options]="iopsPieChartOpts">
      </div>
    </div>
    <div fxLayout="column"
         fxFlex="50">
      <span class="cb-text-center"
            translate>
        Client Throughput
      </span>
      <div echarts
           [initOpts]="pieChartInitOpts"
           [options]="rwPieChartOpts">
      </div>
    </div>
  </div>
</cb-widget>
