@import 'styles.scss';

.cb-not-found-page {
  background-color: hsla(
    hue($cb-color-navy),
    saturation($cb-color-navy),
    lightness($cb-color-navy),
    0.6
  );
  background-image: url('/assets/images/isabel-galvez-i54owgDjXeY-unsplash.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $cb-color-white;

  .logo {
    background-image: url('/assets/images/ceph-logo-grey-reverse.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3rem;
    width: 12rem;
  }

  .text {
    @extend .h1;
  }
}
