<cb-content-page [pageStatus]="pageStatus"
                 fxLayout="column">
  <cb-datatable [data]="data"
                [columns]="columns"
                [autoReload]="30000"
                (loadData)="loadData()">
  </cb-datatable>
</cb-content-page>

<ng-template #servicesTpl
             let-value="value">
  <span *ngFor="let service of value; last as isLast">
    <span>{{ service.type }}.{{ service.id }}</span>
    <ng-container *ngIf="!isLast">, </ng-container>
  </span>
</ng-template>
