<div class="cb-hosts-page"
     fxLayout="column">
  <div class="cb-hosts-page-content">
    <div *ngIf="!firstLoadComplete && loading"
         class="progress">
      <div class="progress-bar indeterminate"></div>
    </div>
    <cb-datatable [data]="data"
                  [columns]="columns"
                  [autoReload]="30000"
                  (loadData)="loadData()">
    </cb-datatable>
  </div>
</div>

<ng-template #servicesTpl
             let-value="value">
  <span *ngFor="let service of value; last as isLast">
    <span>{{ service.type }}.{{ service.id }}</span>
    <ng-container *ngIf="!isLast">, </ng-container>
  </span>
</ng-template>
